*{
  Box-sizing: Border-box;
}

.row{
  height: 100px;
  display: flex;
}
.box{
  border: 1px solid;
}
.result{
  margin: 0;
  padding-top: 40px;
  padding-right: 20px;
  text-align: right;
  font-size:larger;
}
.full-width{
  flex-basis: 400px;
}
.half{
  flex-basis: 200px;
}
.quarter{
  flex-basis: 100px;
}
.three-quarter{
  flex-basis: 300px;
}
